<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GamR | Profile </title>
  <link rel="shortcut icon" href="../images/favicon.ico">
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- Main Page CSS -->
  <link rel="stylesheet" href="/css/editprofile.css">

  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
  </script>

  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
  </script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
  </script>
  <!-- JS Cookie -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>

<body>
  <section id="setup-container">
    <div id='editbox' class="center shadow-lg">
      <h3>Edit Your Profile: </h3>
      <form>
        <p>Display Name: </p><input type="text" name="userName" id="username-box" class='entry-box0'>
        <p>Player Type: </p>
        <div id="div-radio-box">
          <form id='radio-box'>
            <div id="div-casual">
              <input type="radio" id="Casual-btn" name="Player-Type" value="Casual">
              <label>Casual</label>
            </div>
            <div id="div-competitive">
              <input type="radio" id="Competitive-btn" name="Player-Type" value="Competitive">
              <label>Competitive</label>
            </div>
            <div id="div-radio">
              <input type="radio" id="Newbie-btn" name="Player-Type" value="Newbie">
              <label>Newbie</label>
            </div>
          </form>
        </div>
        <p>Bio: </p><textarea id="bio-box" class='entry-box0' name="paragraph_text" cols="50" rows="10"></textarea>
        <p>Avatar: </p>
        <div id='image-options'>
          <img
            src="https://res.cloudinary.com/teepublic/image/private/s--xTHSxvU0--/t_Preview/b_rgb:f9bece,c_limit,f_jpg,h_630,q_90,w_630/v1548144029/production/designs/4055653_0.jpg">
          <img src="https://play.nintendo.com/images/profile-animalcrossing-tomnook.7bf2a8f2.aead314d58b63e27.png">
          <img src="https://siliconangle.com/files/2010/09/realmario-300x300.jpg">
          <img src="https://comicvine1.cbsistatic.com/uploads/original/11138/111388876/6967193-0950421161-">
          <img src="https://i.pinimg.com/originals/37/01/08/370108985956b84270cf8daea28cb395.jpg">
          <img src="https://staticdelivery.nexusmods.com/images/952/78988833-1585360268.jpg">
          <img src="https://avatarfiles.alphacoders.com/177/177632.jpg">
          <img src="https://pbs.twimg.com/profile_images/878107567913881601/GTl71EMB_400x400.jpg">
          <img
            src="https://pyxis.nymag.com/v1/imgs/ef2/ba7/91f7bc9f720dd351d4c74e9b2c6869d360-14-Fortnite-Season-11-The-End.rsquare.w1200.jpg">
          <img src="https://i1.sndcdn.com/artworks-000148874364-pr3to6-t500x500.jpg">
          <img src="https://i1.sndcdn.com/avatars-000429416418-02oj01-t500x500.jpg">
          <img
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d0bc5131-9f3d-47bb-bfe5-0bb8077a4b67/ddbiyzr-a78f7e9b-f844-4ef4-9823-9d7d90164481.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDBiYzUxMzEtOWYzZC00N2JiLWJmZTUtMGJiODA3N2E0YjY3XC9kZGJpeXpyLWE3OGY3ZTliLWY4NDQtNGVmNC05ODIzLTlkN2Q5MDE2NDQ4MS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.FNSkGqNSVuHf73IwGHgDbGOwYt3J9BzIvWuFG9tR9Aw">
          <img src="https://avatarfiles.alphacoders.com/956/95617.jpg">
          <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/297/938/8e6.png">
        </div>
        <br />
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="dropdown p-2">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose some games!
              </button>
              <div class="dropdown-menu" id="game-dropdown" aria-labelledby="dropdownMenuButton">
                <input type="text" id="game-dropdown-search" placeholder="Search...">
                <% titles.forEach((game) => { %>
                <div class="game-dropdown-element dropdown-item input-group mb-3" name="<%=game.title %>">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" class="game-checkbox" name="<%=game.title %>">
                    </div>
                  </div>
                  <p class="form-control"><%=game.title %></p>
                </div>
                <% }); %>
              </div>
            </div>
            <div class="dropdown p-2">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select your platforms!
              </button>
              <div class="dropdown-menu" id="platforms-dropdown" aria-labelledby="dropdownMenuButton">
                <% platforms.forEach((platform) => { %>
                <div class="dropdown-item input-group mb-3" name="<%=platform.title %>">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" class="platforms-checkbox" name="<%=platform.title %>">
                    </div>
                  </div>
                  <p class="form-control"><%=platform.title %></p>
                </div>
                <% }); %>
              </div>
            </div>
            <div class="dropdown p-2">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pick a communication method
              </button>
              <div class="dropdown-menu" id="socials-dropdown" aria-labelledby="dropdownMenuButton">
                <% socials.forEach((social) => { %>
                <div class="dropdown-item input-group mb-3" name="<%=social.title %>">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" class="socials-checkbox" name="<%=social.title %>">
                    </div>
                  </div>
                  <p class="form-control"><%=social.title %></p>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </div>

        <br />
        <div class="buttonCancelSubmit">
          <button id='doneApp' class="btn btn-success">Submit</button>
        </div>
        <input type="hidden" id="uid-hidden" value=<%= uid %>>
      </form>
    </div>
  </section>

  <!-- Javascript -->
  <script src="/scripts/edit_profile.js">
  </script>
</body>

</html>